<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2018-05-02T04:48:36Z</date>
	<key>WorkspacePath</key>
	<string>/Users/karthikjvn/Documents/Mac_Transfer_March2018/UIUC/Spring_2018/IE_531_Algo_for_Data_Analytics/PA5/PA5.xcodeproj</string>
</dict>
</plist>
